.input {
    height: 150px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 70px;
    background-color: white;
    color: black;
    padding: 11px 30px 11px 11px;
    margin: 1px;
}